.mainCont{
    justify-content: space-between;
    padding: 0 144px 0 144px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.rightCont{
    padding-top: 2.6rem;
}

.rightCont>h1{
    font-size: 36px;
}
.rightCont>p{
    font-size: 16px;
}
@media screen and (max-width: 760px) {
    .mainCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .rightCont>h1{
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #4D4D4D;
    }
    .rightCont>p{
        font-weight: 200;
        font-size: 11px;
        line-height: 15px;
        color: #717171;
    }
}